.weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.weather-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.weather-icon {
  font-size: 2rem;
}


.forecast-error {
  text-align: center;
}